<header>
  <img
    src="assets/img/bruno.jpg"
    alt="Bruno Augusto - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Bruno Augusto</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor Full-Stack | Angular | Laravel | Typescript</p>
    <p>Contagem, Minas Gerais, Brasil</p>
    <p>
      Atuando desde 2011 no desenvolvimento de sistemas para agências
      governamentais como DETRAN/MG, SES/MG, SEE/MG, entre outros.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/bruno-augusto-5a28431a/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:brunoagsouza@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>brunoagsouza&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
